@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 255 45% 48%;
    --secondary: 257 27% 26%;
    --foreground: 261 9% 71%;
    --background: 330 50% 99%;
    --primary-foreground: 0 0% 0%;
    --secondary-foreground: 100 100% 100%;
  }
}
